* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 10px 200px;
  background-color: #52bccc;
  z-index: 10;
}

header {
  height: calc(100vh - 80px);
  background-color: #222;
  margin-bottom: 80px;
}

section {
  padding: 60px 10px;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
  font-family: "Cookie", sans-serif;
  line-height: 90px;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
}

h2 {
  position: relative;
  margin-bottom: 50px;
}

h2 span  {
  font-style: italic;
  text-transform: uppercase;
  color: #157faf; 
}

.container {
  min-width: 1200px;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 200px;
  background-color: #52bccc;

}

/* NAV */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav-menu {
  height: 100%;
}

nav ul {
  display: flex;
  height: 100%;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
}

nav a {
  position: relative;
  height: 100%;

  font-size: 1.1rem;
  text-decoration: none;
  color: #000;
}

nav span {
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  border-radius: 5px;
  background-color: #000;
  transition: 0.3s;
}

nav a:hover span {
  width: 100%;
}

.logo a {
  font-family: "Cookie", sans-serif;
  font-size: 3rem;
}

/* HEADER */

.hero-img {
  position: relative;

  width: 100%;
  height: 100%;
  background: url("img/programming-1873854_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.hero-text {
  position: absolute;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  color: #fff;
  z-index: 2;
}

.hero-text p {
  font-size: 1.5rem;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
}

.hero-text span {
  font-size: 4rem;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
  color: #52bccc;
}

.hero-img-black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* SECTION */

section p {
  font-size: 1.2rem;
}

.websides {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  width: 600px;
  padding: 15px;
  border-radius: 10px;
  /* background-color: #222; */
  /* border: 1px solid #000; */
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  color: #000;
}

.box img {
  border-radius: 10px;
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
}

.box h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
}

.box-text {
  padding: 10px 0;
  margin-bottom: 10px;
}

.box-text p {
  font-size: 1rem;
}

.button {
  padding: 5px 15px;
  background: none;
  border: 1px solid #157faf;
  border-radius: 5px;
  text-decoration: none;
  color: #157faf;
  transition: .2s;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #157faf;
  color: #fff;
}

/* FOOTER */

footer p {
  margin: 0;
}